footer{
    margin-top: 50px;
    text-align: center;
    padding: 24px;
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ee0979, #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ee0979, #ff6a00); 
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
    margin: 0 12px;
}

footer ul li a{
    color: #fff;
    text-decoration: none;
}
