* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: #333;
    font-family: Poppins, sans-serif;
}

h1,h2,h3, .bold{
    font-weight: 900,
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

.container {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
