.intro {
    padding: 128px 44px;
    text-align: center;
    background: #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ee0979, #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ee0979, #ff6a00); 
}

.intro h1 {
    color: #fff;
    margin: 24px 0;
}

.intro p {
    color: #eee;
    font-size: 20px;
}

.intro img{
    width: 64px;
}

@media only screen and (max-width: 700px){
    .intro h1{
        font-size: 32px;
    }
}